body {
	text-align: center;
	background-image: url("../Images/Sunrise.jpg");
	background-attachment: fixed;
	background-size: cover;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;

	/*background-color: rgba(255, 172, 4, 0.3);*/
	background-color: rgba(0, 0, 0, 0.4);
	padding: 25px;
	color: white;
	text-align: center;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.right {
	float: right;
	margin: 5px 1px 3px 0px;
}

.left{
	float: left;
	margin: 5px 1px 3px 0px;
}

.button-next {
	background: rgb(255,165,0);
}

.tooltip {
	display: none;
	position: absolute;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px;
	color: rgb(255,165,0);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
	font-size: 11px;
}

/*input	{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	border: 1px solid #DDDDDD;
}

input:focus	{
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	padding: 3px 0px 3px 3px;
	border: 1px solid rgba(81, 203, 238, 1);
}*/